<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define the MortgageCalculatorService bean -->
    <bean id="mortgageCalculatorService"
          class="com.wiley.realworldjava.service.MortgageCalculatorServiceImpl"/>

    <!-- Define the Main class bean -->
    <bean id="app" class="com.wiley.realworldjava.App">
        <constructor-arg ref="mortgageCalculatorService"/>
    </bean>
</beans>
